.block-filter {
	background-color: #e98ea7;
	padding: 10px;
	margin-bottom: 30px;
	color: $white;

	label {
		margin: 0 10px 0 40px;
	}

	.select2 {
		width: 215px!important;
	}

	.form-group {
		margin-bottom: 0;
	}

	input {
		&[type="submit"] {
			background-color: #66769d;
			padding: 7px 6px;
		}
	}
 }
