.footer {
	background: url("../images/bg-ft.jpg") left center/cover no-repeat;
	padding: 15px 0 30px;

	&-menu {
		li {
			display: inline-block;

			+ li {
				margin-left: 84px;
			}

			&.current-menu-item {
				a {
					color: $white;
				}
			}

			a {
				color: $pink;
				font-size: 30px;
			}
		}
	}

	.ft-menu {
		font-family: $content-font;
		font-size: 18px;

		h4 {
			font-size: 18px;
			color: $white;
			margin-bottom: 10px;
		}

		li {
			color: $pink;
			margin-bottom: 10px;
		}

		a {
			color: $pink;
		}
	}
}
