#header {
	.container {
		position: relative;
	}

	.hotline {
		color: $red;
		text-align: center;
		font-family: $quote-font;
		margin: 0 auto;
		width: 250px;
		position: relative;

		@include media-breakpoint-up(lg) {
			position: absolute;
			right: 0;
			top: 15px;
			margin-right: 0;
		}

		label {
			display: block;
			font-size: 18px;
			margin-bottom: 0;
			z-index: 1;
			margin-top: 10px;
			position: relative;
		}

		a {
			position: relative;
			display: block;
			color: $red;
			font-size: 24px;
			z-index: 1;
		}

		.left {
			position: absolute;
			left: 0;
			top: 0;
			width: 65px;
		}

		.right {
			transform: rotateY(180deg);
			position: absolute;
			right: 0;
			top: 0;
			width: 65px;
		}
	}

	.navbar-toggler {
		position: absolute;
		right: 0;
		top: 32px;
		padding: 0;

		&-icon {
			span {
				@include size(30px, 3px);
				background-color: $pink;
				display: block;
				margin: 5px auto;
			}
		}
	}
}
