.block-slider {
	position: relative;
	font-family: $main-font;

	&.block-slider--inter {
		.thumb {
			height: 335px;
			padding: 30px 0 10px;
		}
	}

	.thumb {
		height: 640px;
		padding: 60px 0 24px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.content {
		color: $white;

		&-top {
			font-size: 23px;

			.title {
				font-size: 45px;
				text-shadow: 1px 1px 1px $black;
			}

			p {
				line-height: 1.5;
				text-shadow: 1px 1px 1px $black;
			}
		}

		&-bottom {
			font-size: 22px;

			a {
				color: $white;
			}
		}
	}

	.block-info {
		p {
			margin-bottom: 0;
		}

		.tel {
			font-size: 28px;
			color: $white;
		}
	}

	.slider-default {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.slick-dots {
		position: absolute;
		width: 100vw;
		left: 0;
		transform: translateX(-50%);
		text-align: center;
		bottom: 0;

		li {
			display: inline-block;
			vertical-align: middle;

			&.slick-active {
				button {
					background-color: $white;
				}
			}

			+ li {
				margin-left: 15px;
			}

			button {
				font-size: 0;
				@include size(53px, 5px);
				background-color: $pink;
				outline: none;
			}
		}
	}
}
