.block-slider {
	position: relative;
	font-family: $main-font;

	&.block-slider--inter {
		.thumb {
			height: 335px;
			padding: 30px 0 10px;
		}

		.slick-slider .slick-list, .slick-slider .slick-track {
			height: 100%;
		}

		.slick-slide {
			display: flex;
			align-items: center;

			img {
				max-height: 286px;
				width: auto;
				margin: 0 auto;

				@include media-breakpoint-up(md) {
					max-height: 100%;
					max-width: 530px;
				}
			}
		}
	}

	.thumb {
		height: 440px;
		padding: 60px 0 24px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center right;

		@include media-breakpoint-up(md) {
			height: 640px;
		}
	}

	.content {
		color: $white;

		&-top {
			font-size: 23px;

			.title {
				font-size: 45px;
				text-shadow: 1px 1px 1px $black;
			}

			p {
				line-height: 1.5;
				text-shadow: 1px 1px 1px $black;
			}
		}

		&-bottom {
			font-size: 22px;

			a {
				color: $white;
			}
		}
	}

	.block-info {
		p {
			margin-bottom: 0;
		}

		.tel {
			font-size: 28px;
			color: $white;
		}
	}

	.slider-default {
		height: 100%;

		@include media-breakpoint-up(md) {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 50%;
		}

		.slick-slide {
			img {
				max-height: 286px;
				width: auto;
				margin: 0 auto;

				@include media-breakpoint-up(md) {
					max-height: 100%;
				}
			}
		}
	}

	.slick-dots {
		position: absolute;
		width: 100vw;
		left: 0;
		text-align: center;
		bottom: 0;

		@include media-breakpoint-up(md) {
			transform: translateX(-50%);
		}

		li {
			display: inline-block;
			vertical-align: middle;

			&.slick-active {
				button {
					background-color: $white;
				}
			}

			+ li {
				margin-left: 15px;
			}

			button {
				font-size: 0;
				@include size(25px, 5px);
				background-color: $pink;
				outline: none;

				@include media-breakpoint-up(md) {
					@include size(53px, 5px);
				}
			}
		}
	}
}