.block-social {
	ul {
		margin-bottom: 0;

		li {
			a {
				display: flex;
				@include size(35px, 35px);
				background-color: $white;
				border-radius: 50%;
				align-items: center;
				justify-content: center;

				&:hover {
					i {
						color: $pink;
					}
				}

				i {
					color: #667a9d;
				}
			}
		}
	}
}
